<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div th:fragment="footer">
    <div id="footer">
        <div class="container-narrow">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li><a href="#" th:href="@{/about/}">О нас</a></li>
                        <li><a href="#" th:href="@{/pdf/help/}">Справка pdf tool</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <p>&copy; Бочков Сергей 2014</p>
                </div>
            </div>
        </div>
    </div>

    <script src="#" th:src="@{/static/js/jquery.min.js}"></script>
    <script src="#" th:src="@{/static/js/bootstrap.min.js}"></script>

    <script src="#" th:src="@{/static/js/angular.min.js}"></script>
    <script src="#" th:src="@{/static/js/angular-locale_ru-ru.js}"></script>

    <script src="#" th:src="@{/static/js/highcharts.js}"></script>
    <script src="#" th:src="@{/static/js/highcharts-more.js}"></script>
    <script src="#" th:src="@{/static/js/grid-light.js}"></script>

    <script src="#" th:src="@{/static/js/charts.js}"></script>
    <script src="#" th:src="@{/static/js/script.js}"></script>
</div>

</body>
</html>