<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="header">
    <meta charset="utf-8"/>
    <title>Simple main page</title>
    <link rel="icon" type="image/png" th:href="@{/static/favicon.png}" href="#"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" href="#"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300&amp;subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono&amp;subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" href="#"/>
</head>
<body>


</body>
</html>