<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div class="page-title" th:fragment="title">
    <div class="row">
        <div class="col-md-1 col-md-offset-2">
            <img src="#" th:src="@{/static/img/pdf.png}"/>
        </div>
        <div class="col-md-6">
            <h1>pdf tool</h1>

            <p class="lead">make feel better</p>
        </div>
    </div>
</div>

</body>
</html>