<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ include/_header::header }"></head>
<body>

<div id="wrap">
    <div class="container-narrow">

        <div th:replace="~{ include/_menu::menu }"></div>

        <div th:replace="~{ pdf/include/_title :: title }"></div>

        <hr/>

        <div class="row" id="content">
            <h3>Для того чтобы разбить pdf-файл</h3>
            <ol>
                <li>Идем по ссылке <a href="#" th:href="@{/pdf/split/}">разбить</a></li>
                <li>Выбираем файл</li>
                <li>Указываем номера страниц, которые должны остаться. Можно указывать как отдельные страницы через
                    запятую, так и диапазон.
                    Например:
                    <ul>
                        <li><code>3,8,15</code> - новый файл будет содержать 3-ю, 8-ю и 15-ю страницы исходного файла
                        </li>
                        <li><code>3-9</code> - новый файл будет содержать все страницы с 3-ей по 9-ю включительно</li>
                        <li><code>-5</code> - новый файл будет содержать первые пять страниц исходного файла</li>
                        <li><code>4-</code> - новый файл будет содержать с 4-й по последнюю страницу исходного файла
                        </li>
                        <li>указанные способы можно комбинировать между собой, например <code>-5,8,15-24</code></li>
                    </ul>
                </li>
                <li>По умолчанию, их указанных страниц собирается новый pdf-файл. Также указанные страницы можно
                    получить отдельно друг от друга.
                    Для этого существует кпопка &laquo;В один файл&raquo;</li>
                <li>Нажимаем на кнопку <span class="btn btn-primary btn-xs">Разбить!</span></li>
                <li>PROFIT</li>
            </ol>
            <h3>Для того чтобы собрать pdf-файл</h3>
            <ol>
                <li>Идем по ссылке <a href="#" th:href="@{/pdf/merge/}">собрать</a></li>
                <li>Выбираем файлы, которые необходимо объединить в один.
                    <strong>Внимание!</strong> Порядок страниц в новом файле определяется исходя из имен исходный
                    файлов. Первыми будут добавлены файлы начинающиеся с цифр, потом - начинающиеся с букв латинского
                    алфавита, затем - букв русского алфавита.
                </li>
                <li>Нажимаем на кнопку <span class="btn btn-success btn-xs">Собрать!</span></li>
                <li>PROFIT</li>
            </ol>
        </div>
    </div>
</div>

<div th:replace="~{ include/_footer::footer }"></div>

</body>
</html>