<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/_header::header"></head>
<body>

<div id="wrap">
    <div class="container-narrow">

        <div th:replace="include/_menu::menu"></div>

        <div th:replace="pdf/include/_title :: title"></div>

        <hr/>

        <div class="row" id="content">
            <form class="form-horizontal" method="post" enctype="multipart/form-data" th:object="${merge}">
                <div class="form-group" th:classappend="${#fields.hasErrors('files')} ? has-error : ''">
                    <label for="files" class="col-md-3 control-label">Исходные файлы</label>

                    <div class="col-md-6">
                        <input type="file" multiple="true" id="files" th:field="*{files}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('files')}"
                              th:errors="*{files}">File error</span>

                        <p class="help-block"><i class="glyphicon glyphicon-warning-sign"></i> Внимание! Файлы соберутся
                            в алфавитном порядке</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-4">
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-th"></i> Собрать!
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div th:replace="include/_footer :: footer"></div>

</body>
</html>